.collection__cards {
    height: 100%;
}

.header {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.header__h1 {
    font-size: 300%;
}

.productList {
    list-style: none;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;

}

.productList__item {
    list-style: none;
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.1rem solid #ff5c28;
    border-radius: 2.5rem;
    position: relative;
}

.productList__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2.5rem;
    
}

.productList__imgText{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
}

.productList__button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 100%;
    border: none;
    outline: none;
    background-color: #ff5c28;
    cursor: pointer;
    transition: 0.2s all;

}

.productList__button:hover {

    background-color: hsl(15, 100%, 48%);
    color: hsl(0, 0%, 73%);
    border: hsl(0, 0%, 73%) 0.3rem solid;
}