.landing{
    min-height: 100vh;
    padding: 5rem;
    color: #48001e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffccc2;
    gap: 5rem;
}

.landing__head{
    font-size: 200%;
}

.landing__text{
    width: 30%;
    height: 100%;
    font-size: 200%;
}

.landing__btn{
    background-color: #ff5c28;
    border: #ff5c28 0.3rem solid;
    border-radius: 5rem;
    color: #eee;
    cursor: pointer;
    padding: 0.5rem 2rem;
    margin: 2rem 0rem;
    font-size: 120%;
    transition: 0.75s ease-in-out;
}

.landing__btn:hover{
    transform: scale(1.1);
    color: hsl(0, 0%, 73%);
    border: hsl(0, 0%, 73%) 0.3rem solid;
    
}

.bigPicture{
    width: 70%;
    object-fit: contain;
    height: 100%;
}

.bigPicture__image{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
@media screen and (max-width:1200px){
    .landing{
        min-height: 100vh;
        padding: 5rem;
        font-size: 250%;
        color: #48001e;
        display: flex;
        flex-direction: column-reverse;
    
    }
    .landing__text{
        width: 100%;
        height: 100%;
        margin-top: 2rem;
    font-size: 100%;
    }
    .landing__head{
        font-size: 150%;
    }
    .bigPicture{
        width: 100%;
        object-fit: contain;
        height: 100%;
    }
    .landing__btn{
        width: 33%;
    }
    
}