.Footer {

    background: #eee;
    min-height: 20vh;
    font-size: 150%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 6rem 2rem;
    flex-wrap: wrap;
}

.Footer__ul{
    width: 1fr 1fr 1fr;
    margin: 1rem;
}

.Footer__h3 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: gray;
}

.Footer__list--nav {
    list-style: none;
    margin: 1rem 0rem;
    font-size: 105%;
}

.Footer__list--links {
    text-decoration: none;
    color: #000;
}

.Footer__list--links:hover {
    color:#ff5c28;
}
@media screen and(max-width:600px) {
    .Footer {
        display: flex !important; 
        padding: 6rem 2rem;

    }
}

@media screen and (max-width:25rem) {
    .Footer{
        display: flex;
        flex-direction: column;
        
    }
}