.about{
    min-height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 6rem 3rem;
    gap: 5rem;
    background-color: #ffeae6;
}

.about__header{
    width: 50%;
    font-size: 250%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.about img{
    width: 50%;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width:1200px){
    .about{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .about__header{
        width: 100%;
        height: 100%;
        font-size: 200%;
        padding: 2rem;
    }
    
    
    .about img{
        width: 100%;
        height: 80%;
        padding: 3rem 0rem 0rem 0rem;
    }
}