.sectionfirst{
    min-height: 80vh;
    font-size: 200%;
    background: #fff4f2;
}


.sectionfirst__header{
    padding: 4rem; 
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 4rem;
    gap: 2rem;
}

.sectionfirst__wrapper{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}