*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
  font-family: 'Lato';
   
    color: #48001e;
}

::-webkit-scrollbar {
    display: none;

  }

  ::-webkit-scrollbar-track {
    box-shadow: none; 

  }

  /* Handle */
::-webkit-scrollbar-thumb {
    background: none; 

  }

element::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}