.loginform {
    background-color: #ffccc2;
    width: 100vw;
    height: 100vh;
    font-size: 200%;
    padding: 10rem;
}

.login__header {
    margin: 2rem;
}

.Picture {
    width: 70%;
    object-fit: contain;
    height: 100%;
}

.Picture__image {
    object-fit: contain;
    width: 75%;
    height: 100%;
}

.form__wrapper {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.form__deel {
    display: flex;
    flex-direction: column;

}

form>div>input {
    background-color: #eee;
    border-radius: 4px;
    display: block;
    padding: 1.6rem 2.4rem;
    width: 20rem;
    color: #000;
    border: 1px solid #ccc;
}

.form__btn {
    background-color: #ff5c28;
    border: none;
    border-radius: 5rem;
    color: #eee;
    cursor: pointer;
    padding: 0.5rem 2rem;
    margin: 4rem 0rem;
    font-size: 120%;
    transition: 0.2s ease-in-out;
}

.form__btn:hover {
    background-color: hsl(15, 100%, 48%);
    color: hsl(0, 0%, 73%);
    border: hsl(0, 0%, 73%) 0.3rem solid;
    transform: scale(1.05);
}


@media screen and (max-width:62.5rem) {
    .form__wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .Picture {
        display: none;
    }
}