.loginform{
    background-color: #ff5c28;
    width: 100vw;
    height: 100vh;
    font-size: 200%;
    padding: 10rem;
}

.login__header{
    margin: 2rem;
}

.bigPicture{
    width: 70%;
    object-fit: contain;
    height: 100%;
}

.bigPicture__image{
    object-fit: contain;
    width: 75%;
    height: 100%;
}

.form__wrapper{
    display: flex;
    flex-direction: row;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.form__deel{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

form > div > input{
    background-color: #ffccc2;
    border-radius: 4px;
    display: block;
    padding: 1.6rem 2.4rem;
    width: 20rem;
    color: #000;
    border: 1px solid #ccc;
}

.form__btn{
    background-color: #ffccc2;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    padding: 1rem 2rem;
    width: 15rem;
    color: #48001e;
    font-size: 120%;
    border: 1px solid #ccc;
    margin: 2rem;
}

@media screen and (max-width:63.5rem){
.form__wrapper{
    display: flex;
    flex-direction: column-reverse;
}

    .bigPicture__image{
        display: none;
    }
}